<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta charset="utf-8">
	<title>QUIZ</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
</head>
<body>
	<a href="https://nouman26.github.io/" style="color:black; float:right; margin-right: 4%; margin-top: 1%; "><i class="fa fa-user-circle-o" aria-hidden="true"></i> About me!</a>
	<header>
		<div class="container head">
		<h2 id="h1">Tech Quiz: Test Your Knowledge While Having Fun</h2>
		<h2 id="h2">QUIZ</h2>
	   </div>
	<section class="container">
		<div class="start" id="tab1">
			<p>Take our quiz to find out. Test how much you know about technology</p>
			<h3>Count Your Score</h3>
			<p>You will get 1 point for each correct answer. At the end of the Quiz, your total score will be displayed. Maximum score is 10 points.</p>
			<button  type="button" class="btn btn-primary" id="btnstart">Take a Quiz</button>
		</div>

	<form id="tab2">
		<div id="q1">
		<h4>Question:1</h4>
		<p>What technology is used to record cryptocurrency transactions?</p>
		  <input type="radio" name="Question1" value="Digital wallet">
		  <label for="Digital wallet">Blockchain</label><br>
		  <input type="radio" name="Question1" value="Mining">
		  <label for="Mining">Mining</label><br>
		  <input type="radio" name="Question1" value="Blockchain">
		  <label for="Blockchain">Digital wallet</label><br>
		  <input type="radio" name="Question1" value="Token">
		  <label for="Token">Token</label>
		</div>

		<div id="q2">
		<h4>Question:2</h4>
		<p>How many computer languages are in use?</p>
		  <input type="radio" name="Question2" value="Digital wallet">
		  <label for="Digital wallet">5000</label><br>
		  <input type="radio" name="Question2" value="Mining">
		  <label for="Mining">2000</label><br>
		  <input type="radio" name="Question2" value="Blockchain">
		  <label for="Blockchain">20</label><br>
		  <input type="radio" name="Question2" value="Token">
		  <label for="Token">100</label>
		  </div>

		<div id="q3">
		<h4>Question:3</h4>
		<p>Which of these is not an early computer?</p>
		  <input type="radio" name="Question3" value="Digital wallet">
		  <label for="Digital wallet">UNIVAC</label><br>
		  <input type="radio" name="Question3" value="Mining">
		  <label for="Mining">SAGE</label><br>
		  <input type="radio" name="Question3" value="Blockchain">
		  <label for="Blockchain">NASA</label><br>
		  <input type="radio" name="Question3" value="Token">
		  <label for="Token">ENIAC</label>
		  </div>

		<div id="q4">
		<h4>Question:4</h4>
		<p>Who was the founded of Apple Computer?</p>
		  <input type="radio" name="Question4" value="Digital wallet">
		  <label for="Digital wallet">Steve Jobst</label><br>
		  <input type="radio" name="Question4" value="Mining">
		  <label for="Mining">Stephen Hawking</label><br>
		  <input type="radio" name="Question4" value="Blockchain">
		  <label for="Blockchain">Stephen Fry</label><br>
		  <input type="radio" name="Question4" value="Token">
		  <label for="Token">Bill Gates</label>
		  </div>

		<div id="q5">
		<h4>Question:5</h4>
		<p>Which of these is not a peripheral, in computer terms?</p>
		  <input type="radio" name="Question5" value="Digital wallet">
		  <label for="Digital wallet">monitor</label><br>
		  <input type="radio" name="Question5" value="Mining">
		  <label for="Mining">keyboard</label><br>
		  <input type="radio" name="Question5" value="Blockchain">
		  <label for="Blockchain">motherboard</label><br>
		  <input type="radio" name="Question5" value="Token">
		  <label for="Token">mouse</label>
		  </div>

		<div id="q6">
		<h4>Question:6</h4>
		<p>Which of the following is not one of the early "protocols," or ways to use the Internet?</p>
		  <input type="radio" name="Question6" value="Digital wallet">
		  <label for="Digital wallet">FTP</label><br>
		  <input type="radio" name="Question6" value="Mining">
		  <label for="Mining">Telnet</label><br>
		  <input type="radio" name="Question6" value="Blockchain">
		  <label for="Blockchain">Gopher</label><br>
		  <input type="radio" name="Question6" value="Token">
		  <label for="Token">blogging</label>
		  </div>

		<div id="q7">
		<h4>Question:7</h4>
		<p>What does the Internet prefix WWW stand for?</p>
		  <input type="radio" name="Question7" value="Digital wallet">
		  <label for="Digital wallet">World Wide Web</label><br>
		  <input type="radio" name="Question7" value="Mining">
		  <label for="Mining">Worldwide Weather</label><br>
		  <input type="radio" name="Question7" value="Blockchain">
		  <label for="Blockchain">Wide Width Wickets</label><br>
		  <input type="radio" name="Question7" value="Token">
		  <label for="Token">Western Washington World</label>
		  </div>

		<div id="q8">
		<h4>Question:8</h4>
		<p>A network designed to allow communication within an organization is called:</p>
		  <input type="radio" name="Question8" value="Digital wallet">
		  <label for="Digital wallet">the Internet</label><br>
		  <input type="radio" name="Question8" value="Mining">
		  <label for="Mining">Yahoo</label><br>
		  <input type="radio" name="Question8" value="Blockchain">
		  <label for="Blockchain">an intranet</label><br>
		  <input type="radio" name="Question8" value="Token">
		  <label for="Token">the World Wide Web</label>
		  </div>

		<div id="q9">
		<h4>Question:9</h4>
		<p>Which of these is not a kind of computer?</p>
		  <input type="radio" name="Question9" value="Digital wallet">
		  <label for="Digital wallet">Apple</label><br>
		  <input type="radio" name="Question9" value="Mining">
		  <label for="Mining">Lada</label><br>
		  <input type="radio" name="Question9" value="Blockchain">
		  <label for="Blockchain">Hp</label><br>
		  <input type="radio" name="Question9" value="Token">
		  <label for="Token">Dell</label>
		  </div>

		<div id="q10">
		<h4>Question:10</h4>
		<p>Which of these products is not made by the Apple Corporation?</p>
		  <input type="radio" name="Question10" value="Digital wallet">
		  <label for="Digital wallet">iMac</label><br>
		  <input type="radio" name="Question10" value="Mining">
		  <label for="Mining">iPod</label><br>
		  <input type="radio" name="Question10" value="Blockchain">
		  <label for="Blockchain">iPhone</label><br>
		  <input type="radio" name="Question10" value="Token">
		  <label for="Token">IMAX</label>
		  </div>

		<div id="q11" class="com">
		<h3>Your Question's Have been completed</h3>
		<br>
		<p>Are you sure you want to see your Result then Press Yes</p>
		<br>
		<p>OR</p>
		<br>
		<p>You want to Check then Press Back</p>
		</div>

		<div id="res" class="com">
		<h3>You have Complete this Quiz</h3>
		<p>Your Result is <span id="no"></span></p>
		<br>
		<p>You want to Restart?</p>
		</div>

	</form>
	   <div class="btn1">
		  <button class="btn btn-success" id="next">Next</button>
		  <button class="btn btn-danger" id="back">Back</button>
		  <button  type="button" class="btn btn-primary" id="rest">Restart</button>
		</div>
	</section>

	</header>

	<footer>
		<h5 class="lin">©2020|All Rights Reserved By STW Calculator | Developed & Maintained by Nouman</h5>
	</footer>

	<script type="text/javascript">
		var i=1;
		var q=0;
		var h1=document.getElementById('h1'); // acess tab 1 heading
		var h2=document.getElementById('h2'); // acess tab 2 heading
		var tb1=document.getElementById('tab1'); // acess tab 1
		var tb2=document.getElementById('tab2'); // acess tab 2
		var btnnext=document.getElementById('next'); // acess next button
		var btnback=document.getElementById('back'); // acess back button
		var btnrestart=document.getElementById('rest');  // acess to restart button

		btnback.style.display="none";  // initially back button display none
		btnnext.style.display="none";  // initially next button display none
		btnrestart.style.display="none";  // initially restart button display none
		h2.style.display="none";  // initially tab 2 heading display none
		tb2.style.display="none"; // initially tab 2 display none

		//Access to Question
		var q_1=document.getElementById('q1');
		var q_2=document.getElementById('q2');
		var q_3=document.getElementById('q3');
		var q_4=document.getElementById('q4');
		var q_5=document.getElementById('q5');
		var q_6=document.getElementById('q6');
		var q_7=document.getElementById('q7');
		var q_8=document.getElementById('q8');
		var q_9=document.getElementById('q9');
		var q_10=document.getElementById('q10');
		var q_11=document.getElementById('q11');
		//Access to result tab
		var result=document.getElementById('res');

		//Initially all question display none
		q_2.style.display="none";
		q_3.style.display="none";
		q_4.style.display="none";
		q_5.style.display="none";
		q_6.style.display="none";
		q_7.style.display="none";
		q_8.style.display="none";
		q_9.style.display="none";
		q_10.style.display="none";
		q_11.style.display="none";
		result.style.display="none";

		//function for answer checking
		function check(){
			var qno = document.forms[0];  // acess to form that hold question portion

			    if (qno.Question1[0].checked) {
			      q++;	 }
			    if (qno.Question2[1].checked) {
			      q++;	 }
			    if (qno.Question3[2].checked) {
			      q++;	 }
			    if (qno.Question4[0].checked) {
			      q++;	 }
			    if (qno.Question5[2].checked) {
			      q++;	 }
			    if (qno.Question6[3].checked) {
			      q++;	 }
			    if (qno.Question7[0].checked) {
			      q++;	 }
			    if (qno.Question8[2].checked) {
			      q++;	 }
			    if (qno.Question9[1].checked) {
			      q++;	 }
			    if (qno.Question10[3].checked) {
			      q++;	 }
}
		//function for next button when click then display next question
		function nextb(){
			if(i==10)
			{
				btnnext.innerText="Yes";
			}
			if(i==11)   // when question complete then show result portion
			{
				check();
				document.getElementById('rest').style.display="flex";
				document.getElementById('q'+i).style.display="none";
				document.getElementById('back').style.display="none";
				document.getElementById('next').style.display="none";
				document.getElementById('res').style.display="block";
				document.getElementById('no').innerText=q;
			}
			else
			{
			document.getElementById('back').style.display="unset";
			document.getElementById('q'+i).style.display="none";
			i++;
			document.getElementById('q'+i).style.display="block";
		}
		}

		//function for back button when click then display privious question
		function backb(){
			btnnext.innerText="Next";
			document.getElementById('q'+i).style.display="none";
			i--;
			document.getElementById('q'+i).style.display="block";
			if(i==1)
			{
				document.getElementById('back').style.display="none";
			}
		}
		
		//function for start button when click then display tab 2 portion
		function tab2(){
			h1.style.display="none";
			tb1.style.display="none";
			h2.style.display="block";
			tb2.style.display="block";
			btnnext.style.display="unset";
			document.getElementById('back').style.display="none";
			document.getElementById('q'+i).style.display="block";
			btnnext.innerText="Next";
		}
		//function for Restart button when click then restart quiz
		function Restart(){
			location.reload();
		}

		document.getElementById('btnstart').addEventListener("click",tab2);
		document.getElementById('next').addEventListener("click",nextb);
		document.getElementById('back').addEventListener("click",backb);
		document.getElementById('rest').addEventListener("click",Restart);

		

	</script>
</body>
</html>