<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta charset="utf-8">
	<title>QUIZ</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
</head>
<body>
	<a href="https://nouman26.github.io/" style="color:black; float:right; margin-right: 4%; margin-top: 1%; "><i class="fa fa-user-circle-o" aria-hidden="true"></i> About me!</a>
	<header>
		<section class="container">
			<div class="com">
				<h3>Your Result has been Submitted Successfully</h3>
				<br>
				<p>&</p>
				<br>
				<p>You want to see your Result then check your Email that you have Entered</p>
				<br>
				<p>Thank You!</p>
			</div>
		</section>
</header>
</body>
</html>